$mainColor: #E0FF04;

//Extra Large Screen - 1171 to 1920 screen size
@mixin xlg-screen {
  @media only screen and (max-width: 1920px) {
    @content;
  }
}

//Large Screen - 993 to 1170 screen size
@mixin lg-screen {
  @media only screen and (max-width: 1170px) {
    @content;
  }
}

//Medium Screen - 768 to 992 screen size
@mixin md-screen {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

//Medium Screen - 575 to 767 screen size
@mixin sm-screen {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

//Medium Screen - below 575 screen size
@mixin xs-screen {
  @media only screen and (max-width: 575px) {
    @content;
  }
}

section.best-sellers {
  padding-top: 4rem;

  .best-sellers-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .best-sellers-line {
      flex: 5;
      height: .2vh;
      background-color: $mainColor;
    }

    .best-sellers-title {
      max-width: 11vw;
      flex: 2;

      h4 {
        color: black;
        font-weight: 400;
        letter-spacing: .1rem;
      }
    }
  }
}

section.best-sellers-slider {
  width: 85%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 3rem 0;

  .slider-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include md-screen {
      flex-direction: column;
    }

    article.slider-product {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include md-screen {
        padding: 2.5rem 0;
      }

      img.product-image {
        max-height: 18.2vh;
        object-fit: cover;
        object-position: top;
        display: inline;
        margin-bottom: 1.5rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        @include xlg-screen {
          max-height: 35.3vh;
        }

        @include lg-screen {
          max-height: 23.7vh;
        }

        @include md-screen {
          max-height: 1.9vh;
        }
        &:hover{
          transform: scale(1.1);
        }
      }

      .product-like {
        width: 1.1vw;
        height: auto;
        display: inline;
        position: relative;
        left: 7rem;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h5 {
          font-weight: 400;
          line-height: 1.3rem;
          letter-spacing: .05rem;
        }

        h5.product-title {
          color: black;
        }

        h5.product-brand {
          color: #999999;
        }

        button.product-shopnow-btn {
          border: none;
          background-color: transparent;
          display: block;
          margin: .4rem 0;
          border-bottom: .1rem solid $mainColor;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.3);
          }

          h4.shopnow-btn-title {
            color: black;
            font-weight: 400;
          }
        }
      }
    }
  }

  button.slider-btns {
    position: absolute;
    top: 25%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include md-screen {
      display: none;
    }

    span.slider-btn-icon {
      font-size: 5rem;
      color: $mainColor;
      font-weight: 400;
    }
  }

  .next-btn {
    right: -0.5rem;
  }

  .prev-btn {
    left: -0.5rem;
  }
}
